.settings-page{
    animation: page-in 0.25s ease both;
}

.settings-panel {
    padding: var(--space-xl);
    padding-left:calc(260px + var(--space-xl));
    padding-right: var(--space-xl);
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
}


.settings-panel__section {
    
    width: 100%;
    border: 2px solid var(--color-white-15);
    display: flex;
    flex-direction: column;
    background-color: var(--color-white-10);
    border-radius: var(--border-radius-s);
    padding: 0 var(--space-xl);
}

.user-setting-image {
    display: flex;
    gap: var(--space-xl);
    padding: var(--space-xl) 0;
    border-bottom: 2px solid var(--color-white-20);
}

.settings-panel__avatar {
    height: 10rem;
    width: 10rem;
    background-color: var(--color-white-15);
    border-radius: var(--border-radius-xxxl);
}

.user-settings--text {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: center;
    gap: var(--space-s);
}

.user-settings-information {
    padding: var(--space-xl) 0;
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
}

.user-setting-personal-info {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius-m);
    border: 2px solid var(--color-white-15);
    padding: var(--space-l);
    gap: var(--space-l);

    &--header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &--content{
        display: flex;
        gap: var(--space-xxl);
    }
    &--row {
        display: flex;
        flex-direction: column;
        gap: var(--space-xs);
    }
}

.btn-save-settings {
    width: 16%;
}

.biography-input {
    width: 100%;
}