@use "../../scss/mixin/" as *;

.custom-select {
  position: relative;

  &__trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-s);
    background: var(--color-menu-bg);
    padding: var(--space-s) var(--space-m);
    width: 200px;
    height: 39px;

    @include lg{
      padding: var(--space-xs) var(--space-s);
      gap: var(--space-xs);
      width: 175px;
      height: 36px;
    }
    
    @include xs{
      width: 149px;
      padding: var(--space-xxs) var(--space-xs);
      height: 26px;
    }
  }

  &__dropdown {
    position: absolute;
    inset: 106% 0 auto 0;
    z-index: 3;
    overflow: hidden;
    @include xs{
      font-size: var(--font-size-1);
    }
  }

  &__option {
    padding: var(--space-s) var(--space-m);
    cursor: pointer;
    
    &:hover{ 
        background-color: var(--color-red-primary);
    }
    &--active { 
        background: var(--color-white-20); 
    }
  }
}

.custom-select__option--reset {
  color: var(--color-white-50);
  border-bottom: 1px solid var(--color-white-10); // separador visual
  font-size: 0.85em;

  &:hover {
    color: var(--color-white);
  }
}