.bton__container{
    width: 100%;
    display: flex;
    gap: 2rem;
}

.bton {
    height: 50px;
    padding: 0 2rem;

}
.cards__container {
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}
.anime__card{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 18%;
}

.anime__card h1{
    font-size: 24px;
}

.anime__card img {
    width: 100%;
}
.information__container {
    display: flex;
    justify-content: space-between;
}
.anime__card h2{
    font-size: 20px;
}

.btn__disable{
    background-color: gray;
}

.btn__able{
    background-color: red;
    color: white;
}

