@use "../../scss/mixin/" as *;

.login-page--background {
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0)
        ), url(../../assets/images/fondo_login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.login-page {
    height: 90%;
    width: 100%;
    max-width: var(--max-width-content);
    max-height: 800px;
    display: flex;
    flex-direction: row;
    padding: var(--space-xl) var(--space-xxl);

    @include md{
        padding: 0;
    }
    @include sm{
        padding: 0;
    }
}

.login-page__hero {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @include lg{
        padding: 0;
    }
    @include md {
        padding: var(--space-l) var(--space-xl);
    }
    @include sm{
        display: none;
    }
}

.login-page__header {
    display: flex;
    justify-content: space-between;
}

.login-page__panel {
    width: 50%;
    justify-content: center;
    padding: 0 var(--space-xxxl);
    gap: var(--space-l);

    @include lg{
        padding: 0 var(--space-xxl);
        border-radius: var(--border-radius-l);
    }
    @include md{
        gap: var(--space-l);
        padding: 0 var(--space-l);
        border-radius: 0;
        border: none;
    }
    @include sm{
        width: 100%;
        padding: var(--space-m) var(--space-m);
        justify-content: star;
    }
}

.login-page__button {
    height: 50px;
}

.login-page__forget-password {
    width: 100%;
    text-align: right;
}
