@use "../../scss/mixin/" as *;

.bg-popup {
    position: fixed;
    inset: 0 0 0 0;
    background-color:var(--color-black-25);
    backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(6px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.popup__container {
    width: 30%;
    padding: var(--space-xxl);
    gap:  var(--space-l);
    @include sm {
        width: 75%;
        padding: var(--space-l);
    }
}
.popup_ad {
    min-height: 670px;
    max-height: 680px;
}
.popup__delete-anime {
    width: 100%;
    text-align: center;
}

.episodes-row {
    display: flex;
    align-items: center;
    width: 100%;
    gap:var(--space-xxs)
}

.popUp__container--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    gap: var(--space-s);
}

.container-info-favorites{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.icon-options-pop-up {
    display: flex;
    align-items: center;
    height: var(--space-xl);
    width: var(--space-xl);
    padding: var(--space-xs);
}
.icon-options-pop-up:hover {
    background-color: var(--color-white-35);
    border-radius: var(--border-radius-xs);
}

.btn--popup-container {
    margin-top: var(--space-s);
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
}

.popUp__container-header--title {
    display: flex;
    flex-direction: column;
}

.anime-favorite__card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: var(--border-radius-xs);
    padding: var(--space-xs);
    background-color: transparent;
    gap: var(--space-m);
    &-header {
        display: flex;
        align-items: center;
        gap: var(--space-m);
    }
}

.anime-favorite__card:hover {
    cursor: pointer;
    background-color: var(--color-white-20);
}