.bg-popup {
    position: fixed;
    inset: 0 0 0 0;
    background-color:var(--color-black-25);
    backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(6px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.popup__container {
    width: 30%;
    background-color: var(--color-black-85);
    border: 1px solid var(--color-white-20);
    border-radius: var(--border-radius-m);
    display: flex;
    flex-direction: column;
    padding: var(--space-xxl);
    gap:  var(--space-l);
}

.popup__delete-anime {
    width: 100%;
    text-align: center;
}

.episodes-row {
    display: flex;
    align-items: center;
    width: 100%;
    gap:var(--space-xxs)
}

.popUp__container--header {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.icon-options-pop-up {
    display: flex;
    align-items: center;
}

.btn--popup-container {
    margin-top: var(--space-s);
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
}

.popUp__container-header--title {
    display: flex;
    flex-direction: column;
}