@use "../../scss/mixin/" as *;

.bg-popup {
    position: fixed;
    inset: 0 0 0 0;
    background-color:var(--color-black-25);
    backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(6px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.popup__container {
    width: 30%;
    padding: var(--space-xxl);
    gap:  var(--space-l);
    @include sm {
        width: 75%;
        padding: var(--space-l);
    }
    transition: height 0.2s ease;
    min-height: 200px;
}

.popup__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    gap: var(--space-s);
}

.popup__header--title {
    display: flex;
    flex-direction: column;
}

.popup__options-btn {
    display: flex;
    align-items: center;
    height: var(--space-xl);
    width: var(--space-xl);
    padding: var(--space-xs);
}
.popup__options-btn:hover {
    background-color: var(--color-white-35);
    border-radius: var(--border-radius-xs);
}

.popup__episodes-row {
    display: flex;
    align-items: flex-end;
    width: 100%;
    gap:var(--space-xxs)
}

.popup__progress {
    height: 9px;
    border: 2px solid var(--color-black-bg) ;
    background-color: var(--color-white-15);
    border-radius: var(--border-radius-xs);
    overflow: hidden;
    &-fill{
        background-color: var(--color-red-primary);
        height: 100%;
    }
}

.btn--popup-container {
    margin-top: var(--space-s);
    display: flex;
    flex-direction: row;
    gap: var(--space-s);
}
.btn--popup {
    width: calc(50% - var(--space-s) / 2);
}

.popup--add {
    min-height: 670px;
    max-height: 680px;
}

.popup__results{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.anime-favorite__card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: var(--border-radius-xs);
    padding: var(--space-xs);
    background-color: transparent;
    gap: var(--space-m);
    &-header {
        display: flex;
        align-items: center;
        gap: var(--space-m);
    }
}

.anime-favorite__card:hover {
    cursor: pointer;
    background-color: var(--color-white-20);
}

.popup__delete-anime {
    width: 100%;
    text-align: center;
}
