.my-list__options{
    justify-content: space-between;
    padding: 0 var(--space-xxl);
}

.my-list__filters {
    border:2px solid red;
    display: flex;
    align-items: center;
}

.my-list__search{
    display: flex;
    align-items: center;
    border:2px solid var(--color-white-50);
    padding: var(--space-xs) var(--space-xs);
    gap: var(--space-xs);
    border-radius: var(--border-radius-s);
    background-color: var(--color-white-10);
    &--img {
        border:1px solid red;
        height: 20px;
        width: 20px;
    }
}

.my-list__input {
    border:none;
    padding: 0;
    background-color: transparent;
    border-radius: 0;
}
