@use "../../scss/mixin/" as *;

.register-page {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: var(--space-m);
    background-image: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0)
        ), url(../../assets/images/fondo_singUp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    @include sm {
        padding: 0;
    }
}

.register-page__form-section {

    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--space-xxl) var(--space-xxxl);
    background-color: var(--color-black-75);
    backdrop-filter: blur(5px);
    border-radius: var(--border-radius-l);
    border: 1px solid var(--color-white-20);
    gap: var(--space-l);
    @include lg {
        width: 60%;
        transition: transform 0.35s cubic-bezier(0.34, 1.56, 0.64, 1), width 0.35s ease;
    }
    @include md {
        width: 80%;
        transition: transform 0.35s cubic-bezier(0.34, 1.56, 0.64, 1), width 0.35s ease;
    }
    @include sm {
        width: 100%;
        border: none;
        border-radius: 0;
        padding: var(--space-l) var(--space-xl);
        transition: transform 0.35s cubic-bezier(0.34, 1.56, 0.64, 1), width 0.35s ease;
    }
    @include xs {
        padding: var(--space-m) var(--space-l);
    }
}

.register-page__tittle {
    font-size: var(--font-size-6);
}

.register-page__form {
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
}

.register-page__form-field {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
}

.register-page__button {
    height: 40px;
}