@use "../../scss/mixin" as *;

.search-page__title {
    width: 100%;
    text-align: left;
    padding: 0 var(--space-xxl);
    padding-top: var(--space-xl);
    @include lg{
        padding-top: var(--space-l);
    }
    @include md{
        padding: 0 var(--space-xl);
        padding-top: var(--space-l);
    }
    @include sm{
        padding: 0 var(--space-m);
        padding-top: var(--space-m);
    }
    @include xs{
        padding: 0 var(--space-xs);
        padding-top: var(--space-m);
    }
}