@use "../../scss/mixin" as *;

.error-component__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-m);
}

.error-component__sad-face {
    font-size: var(--font-size-10);
    font-family: var(--font-secondary);
    @include sm{
        font-size: var(--font-size-5);
    }
}
.error-component__sad-face--small {
  font-size: var(--font-size-5);
}

.error-component__text--small {
  font-size: var(--font-size-5);
}



