html, body, #root {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
}

body {
    background: linear-gradient(
        180deg, 
        var(--color-black-bg) 0%,
        var(--color-black-bg) 70%, 
        var(--color-red-bg) 100%,
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100dvh;
}

a {
    text-decoration: none;
}

input {
    font-size: var(--input-txt-size);
    font-family: var(--font-secondary);
    font-weight: var(--font-medium);
    color: var(--color-white);

    background-color: var(--color-white-15);
    border: 1px solid var(--color-white);
    border-radius: var(--border-radius-s);
    padding: var(--space-xs);
}
* {
    font-family: var(--font-secondary);
}
.btn {
    padding: var(--space-xs) var(--space-m) ;
    color: var(--color-white);
    border-radius: var(--border-radius-s);
    font-family: var(--font-secondary);
    font-weight: var(--font-medium);
    font-size: var(--p-size);
    background-color: var(--color-red-primary);
    transition: transform 0.35s cubic-bezier(0.34, 1.56, 0.64, 1), box-shadow 0.35s ease;
}

.btn:hover {
    transform: scale(1.10);
}

.btn--small{
    padding:  var(--space-xs) var(--space-s);
    gap: var(--space-xxs);
    border-radius: var(--border-radius-xs);
}

.btn--disable {
    background-color: transparent;
}
.btn--disable:hover {
    background-color: var(--color-white-20);
}

.btn--secondary{
    background-color: transparent;
    border:2px solid var(--color-white);
}


select {
    border:2px solid var(--color-white-50);
    color: var(--color-white);
    font-family: var(--font-secondary);
    padding: var(--space-xxs) var(--space-m);
    border-radius: var(--border-radius-m);
    font-size: var(--p-size);
}