*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

input, button, textarea, select {
  font: inherit;
  border: none;
    
  background: none;
}

button {
  cursor: pointer;
}