.review-card {
    display: flex;
    
    flex-direction: column;
    border: solid 2px var(--color-white-15);
    background-color: var(--color-white-15);
    border-radius: var(--border-radius-s);
    padding: var(--space-m);
    gap: var(--space-s);
    max-width: 350px;
    min-width: 300px;

    &-header {
        display: flex;
        justify-content: space-between;
    }
    &-user {
        display: flex;
        gap: var(--space-xs);
        align-items: center;
        &-valoration {
            display: flex;
            align-items: center;
            gap: var(--space-s);
        }
        &-img {
            border-radius: 9999px;
            border: solid 2px var(--color-black-75);
        }
    }
}

