@use "../../scss/mixin/" as *;

.user-page__content{
    max-width: var(--max-width-content);
    width: 100%;
    padding: 0 var(--space-xxl);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include md {
        padding: 0 var(--space-xl);
    }
    @include sm {
        padding: 0 var(--space-m);
    }
    @include xs {
        padding: 0 var(--space-xs);
    }
}
.user-page__header {
    width: 100%;
    border-bottom: solid 2px var(--color-white-20);
    display: flex;
    flex-direction: column;
    padding: var(--space-xxl) 0;
    @include md {
        padding: var(--space-xl) 0;
    }
    @include sm {
        padding: var(--space-m) 0;
    }
    @include xs {
        padding: var(--space-s) 0;
    }

    &--banner{
        height: 250px;
        width: 100%;
        background-color: var(--color-white-10);
        border-radius: var(--border-radius-l);
        border:1px solid var(--color-white-20);
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        padding: var(--space-l);
        @include md {
            padding: var(--space-m);
            border-radius: var(--border-radius-m);
        }
        @include sm {
            flex-direction:row-reverse;
            align-items: start;
        }
    }
    
}
.user-page__social--info {
    background-color: var(--color-white-15);
    border:1px solid var(--color-white-20);
    border-radius: var(--border-radius-m);
    display: flex;
    padding: var(--space-m);
    gap: var(--space-m);
    
    @include md {
        padding: var(--space-s);
        gap: var(--space-s);
        border-radius: var(--border-radius-s);
    }
}

.user-page__social--item {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--number {
        font-size: var(--font-size-9);
        font-family: var(--font-primary);
        line-height: 0.8;
        @include md {
            font-size: var(--font-size-7);
        }
    }
    &--text {
        font-size: var(--font-size-1);
    }
}

.user-page__header--banner-img--container {
    position: absolute;
    inset: auto auto -15% 50%;
    transform: translateX(-50%);
    height: 200px;
    width: 200px;
    background-color: var(--color-menu-bg);
    border:1px solid var(--color-white-20);
    border-radius: var(--border-radius-xxxl);
    display: flex;
    align-items: center;
    justify-content: center;
    @include md {
        height: 150px;
        width: 150px;
    }
}

.banner-user--img {
    height: 150px;
    width: 150px;
    @include md {
        height: 100px;
        width: 100px;
    }
}

.user-page__header-user-info{
    margin-top: var(--space-xxxl);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-s);
    @include md {
        margin-top: var(--space-xxl);
        gap: var(--space-xxs);
    }
}
.user-page__header-user-info > h1 {
    @include md {
        font-size: var(--font-size-7);
    }
}

.user-page__favorites-container {
    margin: var(--space-xxl) 0;
    width: 100%;
    background-color: var(--color-white-10);
    border-radius: var(--border-radius-l);
    border:1px solid var(--color-white-20);
    padding: var(--space-l);
    @include md {
        padding: var(--space-m);
        border-radius: var(--border-radius-m);
    }
}
.anime-favorites__container {
    display: flex;
    gap: var(--space-xl);
}

.user-page__favorites--header {
    display: flex;
    justify-content: space-between;
    padding: var(--space-l) auto;
    margin-bottom: var(--space-l);
}

.favorite--add_btn {
    width: calc((100% - 128px) / 5);
    aspect-ratio: 2 / 3.25;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: var(--space-s);
    background-color: var(--color-white-50);
    border-radius: var(--border-radius-m);
    cursor: pointer;
}
