@use "../../../scss/mixin" as *;

.landing-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: var(--max-width-content);
    height: 100dvh;
    flex-shrink: 0; 
    
    &__text {
        margin-top: var(--space-xxxl);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--space-s);
        text-align: center;
    }
    &__title {
        font-size:var(--font-size-9);
    }

    @include sm{
         padding: 0 var(--space-m);
    }
    @include xs{
        padding: 0 var(--space-xs);
    }
}

.landing-header__cta {
    margin-top: var(--space-xxl);
    display: flex;
    justify-content: center;
    gap: var(--space-l)
}

.landing-header__img {
    margin-top: var(--space-xxl);
    flex:1;
    background-image: 
        linear-gradient(
            to right,
            var(--color-menu-bg) 0%,
            rgba(0,0,0,0) 20%,
            rgba(0,0,0,0) 80%,
            var(--color-menu-bg) 100%
        ),
        url('../../../assets/images/anime-cards.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.landing-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 var(--space-xxl);
    max-width: var(--max-width-content);
    @include sm{
        padding: 0 var(--space-m);
    }
    @include xs{
        padding: 0 var(--space-xs);
    }
}

.landing-features {
    padding: var(--space-xxxl) 0; 

    &__content{
        margin-top: var(--space-xxxl);
        background-color: var(--color-white-10);
        border: solid 2px var(--color-white-20);
        display: flex;
        padding: var(--space-xl) 0;
        border-radius: var(--border-radius-m);
        align-items: center;
        
        @include lg{
            flex-wrap: wrap;
        }
        
        &--item {
            display: flex;
            flex-direction: column;
            gap: var(--space-xs);
            padding: var(--space-xl) var(--space-xxl);
            width: calc(100% / 4);
            @include lg{
            width: calc(100% / 2);
            }
            @include sm{
                width: 100%;
            }
        }
    }
    
}
.landing-section__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}
.landing-features__content--item + .landing-features__content--item {
    border-left: solid 2px var(--color-white-20);
    @include sm{
        border-left: none;
    }
}

.landing-screens {
    padding: var(--space-xxxl) 0; 
    &__content {
        display: flex;
        gap: var(--space-m);
        margin-top: var(--space-xxxl);
        @include md{
            flex-direction: column;
        }
    }
}


.landing-screens--options {
    display: flex;
    flex-direction: column;
    width: calc(25% - var(--space-m) / 2);
    gap: var(--space-m);
    @include md{
        flex-direction:row;
        width: 100%;
    }

    &--item{
        display: flex;
        position:relative;
        flex-direction: column;
        gap: var(--space-s);
        background-color: var(--color-white-10);
        border: solid 2px var(--color-white-20);
        padding: var(--space-xl) var(--space-l);
        border-radius: var(--border-radius-m);
        cursor: pointer;
        overflow: hidden;
        transition: height 0.3s ease, padding 0.3s ease;
        @include md{
            min-width: 25%;
        }
    }
}
.landing-screens--options--item:before{
    content: "";
    position: absolute;
    inset: auto 0 0 0;
    height: 5px;
    background-color: var(--color-red-primary);

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.landing--item-active::before {
    transform: scaleX(1);
}

.landing-screens__image {
    width: calc(75% - var(--space-m) / 2);
    aspect-ratio: 16 / 9;
    border: solid 2px var(--color-white-20);
    border-radius: var(--border-radius-m);
    @include md{
        width: 100%;
    }
}

.landing-end{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100dvh;
    gap: var(--space-l);
    text-align: center;
    @include sm{
        padding: 0 var(--space-m);
    }
    @include xs{
        padding: 0 var(--space-xs);
    }
}

.landing-end::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../../../assets/images/bg_landing.jpg");
    background-position: center;
    background-size: cover;
    opacity: 0.2;
    z-index: -1;
}