.search__wrapper {
  position: relative;
  width: 300px;
}

.buscar__anime  {
    border: 2px solid red;
    width: 300px;
}

.all-search__content {
    position: absolute;
    inset: 100% 0 auto 0;

    background-color: var(--color-black-bg);
    border: 2px solid var(--color-white-20);
    border-radius: var(--border-radius-s);
    
    padding: var(--space-xs);
    height: auto;

    display: flex;
    flex-direction: column;
    max-width: 520px;
}
.anime-search__card {
    display: flex;
    align-items: center;
    border-radius: var(--border-radius-xs);
    padding: var(--space-xs);
    background-color: var(--color-black-bg);
    gap: var(--space-xs);
}

.anime-search__card:hover {
    cursor: pointer;
    background-color: var(--color-white-20);
}
.anime-search__card-img {
    height: 65px;
    width: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 2px;
}
.btn-search-more {
    margin-top: var(--space-xs);
}
.btn-search-more:hover {
    transform: scale(1);
}