:root {
    /*      COLORS      */

    /*--color-red-primary2: #B11226;
    --color-red-primary: #f51934;*/
    --color-red-primary2: #f0b13b;
    --color-red-primary:#dfae54;
    --color-errors: #FF3B3B;
    --color-white: #ffffff;
    --color-white-10: #ffffff0c;
    --color-white-15: #ffffff15;
    --color-white-20: #ffffff39;
    --color-white-35: #ffffff5c;
    --color-white-50: #ffffff8b;
    --color-white-75: #ffffffc7;
    
    --color-black-bg: #0B020A;
    --color-menu-bg: #100B0F;
    --color-red-bg: #5D2725;
    --color-black-25: #0f0f0f3b;
    --color-black-75: #0f0f0fcd;
    --color-black-85: #0f0f0fec;
    --color-black-25: #0f0f0f3b;
    --color-text-dark: #242424;
    --color-completed: #92b6f5;
    --color-completed-bg: #1c2029be;
    --color-completed-border: #3A5082;
    --color-watching: #5DE89A;
    --color-watching-bg: #17291dcc;
    --color-watching-border: #1A6E36;
    --color-dropped: #E27A7A;
    --color-dropped-bg: #291b1bb9;
    --color-dropped-border: #823535;
    --color-planToWatch: #E8C85A;
    --color-planToWatch-bg: #252118b6;
    --color-planToWatch-border: #6A5524;
}