:root {
    /*      COLORS      */
    --color-red-primary: #B11226;
    --color-errors: #FF3B3B;
    --color-white: #ffffff;
    --color-white-15: #ffffff15;
    --color-white-20: #ffffff20;
    --color-white-50: #ffffff50;
    --color-black-bg: #0B020A;
    --color-red-bg: #A63A36;
}