:root {
    /*      COLORS      */
    --color-red-primary: #B11226;
    --color-errors: #FF3B3B;
    --color-white: #ffffff;
    --color-white-15: #ffffff15;
    --color-white-20: #ffffff39;
    --color-white-50: #ffffff8b;
    --color-white-75: #ffffffc7;
    
    --color-black-bg: #0B020A;
    --color-menu-bg: #100B0F;
    --color-red-bg: #5D2725;
    --color-black-75: #0f0f0fcd;
    --color-black-85: #0f0f0fec;
    --color-black-25: #0f0f0f3b;
    --color-text-dark: #242424;
    --color-completed: #2B93E9;
    --color-watching: #3DD62F;
    --color-dropped: #E3B341;
    --color-plan-to-watch: #DF2BE9;
}