.menu-settings__container  {
    position: absolute;
    inset: 135% 0 auto auto;
    background-color: var(--color-black-85);
    backdrop-filter: blur(5px);
    border: 1px solid var(--color-white-20);
    border-radius: var(--border-radius-s);
    display: flex;
    flex-direction: column;
    padding: var(--space-m);
    gap: var(--space-s);
    width: 250px;
}
.menu--settings-img-cont {
    background-color: var(--color-white-50);
    border-radius: var(--border-radius-xxxl);
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu--settings--user-info {
    display: flex;
    align-items: center;
    padding-bottom: var(--space-s);
    gap: var(--space-s);
    border-bottom: 1px solid var(--color-white-35);
}

.menu--settings--item {
    display: flex;
    align-items: center;
    padding: var(--space-xs);
    gap: var(--space-s);
    color: var(--color-white);
}

.menu--settings--item:hover {
    background-color: var(--color-white-20);
    border-radius: var(--border-radius-xs);
}