.directory__options {
    display: flex;
    justify-content: space-between;
    padding: var(--space-xl) var(--space-xxl);
    border-bottom: 1px solid var(--color-white-50);
}

.directory__options-buttons {
    display: flex;
    gap: var(--space-xxl);
}

.anime-cards__container {
    padding: var(--space-xl) var(--space-xxl);
    width: 100%;
    display: flex;
    gap: var(--space-xxl);
    flex-wrap: wrap;
}


.btn__disable{
    background-color: gray;
}

.btn__able{
    background-color: red;
    color: white;
}

