@use "../../scss/mixin/" as *;

.anime-page {
    width: 100%;
    max-width: var(--max-width-content);
    padding: var(--space-xxl) var(--space-xxl);
    animation: page-in 0.5s ease both;
    
    @include md{
        padding: var(--space-l) var(--space-xl);
    }
    @include sm{
        padding: var(--space-m) var(--space-m);   
    }
}

.anime-page__container {
    display: flex;
    @include sm {
        display: flex;
        flex-direction: column;
    }
}

.anime-page__header {
    width: 25%;
    @include sm {
        width: 100%;
        position: relative;
        aspect-ratio: 16 / 9;
        border-radius: var(--border-radius-s);
        overflow: hidden;
        &::after {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(
                to bottom,
                rgba(0, 0, 0, 0) 50%,
                rgba(0, 0, 0, 0.9) 100%
            );
        }
    }
}

.anime-page__header-img {
    width: 100%;
    aspect-ratio: 2 /3.25;
    object-fit: cover;
    object-position: center;
    border-radius: var(--border-radius-s);
    @include sm {
        height: 100%;
    }
}

.anime-page__content {
    padding-left: var(--space-xxl);
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
    
    @include lg{
        padding-left: var(--space-l);
    }
    @include md{
        gap: var(--space-l);
    }
    @include sm{
        width: 100%;
        padding-left: 0;
        padding-top: var(--space-s);
        gap: var(--space-m);
    }
}

.breadcrumbs {
    display: flex;
    gap:var(--space-xxs)
}
.breadcrumbs__list{
    display: flex;
}

.breadcrumbs__item {
    height: 100%;
    display: flex;
    align-items: center;
}

.anime-page__info{
    display: flex;
    align-items: start;
    justify-content: space-between;

    &-title {   
        margin-bottom: var(--space-xs);
    }
    @include sm{
        flex-direction: column-reverse;
        gap: var(--space-s);
    }
}


.anime-page__info-user-options {
    display: flex;
    align-items: center;
    gap: var(--space-s);
    @include md{
        gap: var(--space-xs);
    }
    @include xs{
        flex-direction: column;
    }
}

.anime-page__status{
    &-label {
        white-space: nowrap;
        @include sm{
            display: none;
        }
    }
    &-value {
        padding: var(--space-xs) var(--space-s);
        background-color: var(--color-white-15);
        border: solid 1px var(--color-white-20);
        border-radius: var(--border-radius-xl);
        @include sm{
            padding: var(--space-xxs) var(--space-xs);
        }
    }
}

.anime-page__stats {
    background-color: var(--color-white-15);
    border:1px solid var(--color-white-20);
    border-radius: var(--border-radius-m);
    display: flex;
    flex-direction: column;
    position: relative;
    &-global {
        width: 100%;
        display: flex;
        padding: var(--space-xl) 0;
        @include md{
            padding: var(--space-l) 0;
        }
        @include sm{
            padding: var(--space-m);
        }
    }
}


.anime-page__stat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex:1;

    &-label {
        text-align: center;
        @include xs{
            padding: 0 var(--space-xs);
        }
    }
}
.anime-page__btn {
    position: absolute;
    inset: var(--space-s) var(--space-s) auto auto;
}

.anime-page__progress{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: var(--space-xl);
    gap: var(--space-m);
    border-top: 1px solid var(--color-white-20);
    @include md{
        padding: var(--space-l);
    }
    @include sm{
        padding: var(--space-m);
    }

    &-header {
        display: flex;
        justify-content: space-between;
    }
    &-track {
        height: 8px;
        width: 100%;
        border-radius: var(--border-radius-s);
        background-color: var(--color-menu-bg);
        overflow: hidden;
    }
    &-fill {
        height: 100%;
        background-color: var(--color-red-primary);
    }
}

.anime-page__stat-item + .anime-page__stat-item  {
    border-left: 1px solid var(--color-white-20);
}

.anime-page__tags-list {
    margin-top: var(--space-xs);
    display: flex;
    flex-wrap: nowrap;
    gap: var(--space-m);
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;  
    scrollbar-width: none; 
    &::-webkit-scrollbar {
        display: none;
    }
}

.anime-page__tag {
    padding: var(--space-xs) var(--space-s);
    background-color: var(--color-white-15);
    border: solid 1px var(--color-white-20);
    border-radius: var(--border-radius-xl);
    @include sm{
        padding: var(--space-xxs) var(--space-xs);
    }
}

.anime-page__details {
    margin-top: var(--space-m);
    width: 100%;
}
.anime-page__details-body {
    width: 100%;
    display: flex;
}
.anime-page__tabs-info {
    width: 77%;
    padding-top: var(--space-l);
    padding-right: var(--space-xxl);
    @include md{
        padding-right: var(--space-m);
    }
    @include sm{
        width: 73%;
        padding-right: 0;
    }
}
.anime-page__synopsis-text {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
}

.anime-page__trailer {
    width: 100%;
    aspect-ratio: 16 / 9;
}

.anime-page__characters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--space-m);
    @include sm{
        gap: var(--space-s);
    }
}

//100 entre 4 cards, 3 espacios intermedios de 16px por 3 => 48, /4, numero de cards
.character-card {
    width: calc((100% - 64px) / 5);
    aspect-ratio: 2 / 3;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--space-s);
    border-radius: var(--border-radius-m);
    border: 1px solid rgb(52, 52, 52);
    overflow: hidden;

    @include lg{
        width: calc((100% - 48px) / 4);
        padding: var(--space-xs);
    }
    @include md{
        padding: var(--space-xxs);
        border-radius: var(--border-radius-xs);
    }
    @include sm{
        width: calc((100% - 12px) / 2);
    }

    &__img {
        position: absolute;
        inset: 0 0 0 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        z-index: 0;
    }

    &__header {
        display: flex;
        z-index: 1;
        width: 100%;
    }
    &__footer {
        width: 100%;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: var(--space-xs);
    }
    &__footer-text {
        display: flex;
        flex-direction: column;
        flex:1;
    }

    &__actor-img{
        width: 50px;
        aspect-ratio: 2 / 2.9;
        object-fit: cover;
        object-position: center;
        border-radius: var(--border-radius-xs);
        border: solid 1px var(--color-white-35);
        @include md{
            width: 35px;
        }
        @include xs{
            width: 25px;
        }
    }
}

.character-card:before {
        content: "";
        position: absolute;
        inset: 0;

        background: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.868) 0%,
            rgba(0, 0, 0, 0.423) 30%,
            rgba(0, 0, 0, 0) 50%,
            rgba(102, 102, 102, 0) 100%
        );
        z-index: 1;
}

.anime-page__characters-actions {
    display: flex;
    justify-content: center;
    padding: var(--space-m);
}

.anime-page__more-info {
    width: 23%;
    display: flex;
    flex-direction: column;
    padding: var(--space-l);
    padding-right: 0;
    gap: var(--space-m);
    @include sm{
        width: 27%;
    }

    &-item {
        border-left: 2px solid var(--color-red-primary);
        padding: var(--space-xxs) var(--space-s);
        display: flex;
        flex-direction: column;
        align-items: start;

        &-title {
            letter-spacing: 2px;
            font-family: var(--font-primary);
            color: var(--color-white-50);
            font-size: var(--font-size-2);
            font-weight: var(--font-light);
        }

        &-values {
            display: flex;
            gap: var(--space-xs);
            align-items: start;
            flex-wrap: wrap;
        }
    }
}
